<div class="card mb-3 today-booking-card" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= link_to booking_path(@booking_today) do %>
      <%= image_tag(@booking_today.place.image, class: "card-img-top", id: "today-image") %>
    </div>
    <div class="col-md-8 row-md-8">
      <div class="today-date-container">
        <p><%= ApplicationHelper.convert_day(@booking_today.date) %></p>
        </div>
        <div class="card-body today-card-body">
          <div class="title-description">
            <h2 class="card-title"><%= @booking_today.name.split.map(&:capitalize).join(' ') %> at <%= @booking_today.place.name %></h2>
            <p class="card-text"><%= @booking_today.place.address %></p>
          </div>
        <% end %>
        </div>
        <div class="today-card-place-info">
          <p><%= @booking_today.description.capitalize %></p>
        </div>
        <div class="share">
          <ul class='share-links'>
            <%= link_to '#' do %>
              <li><i class="fab fa-facebook"></i></li>
            <% end %>
            <%= link_to '#' do %>
             <li><i class="fab fa-twitter"></i></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
