<h1>My Sunset Plans</h1>
<% @bookings.each do |booking| %>
  <%= image_tag(booking.place.image, width: "10%") %>
  <p><%= booking.date %></p>
  <p><%= booking.name %></p>
  <p><%= booking.description %></p>
<div class="btn btn-secondary">
  <%= link_to 'Review', new_review_path %>
</div>
  <br>
  <br>
<% end %>
