<h1>My Sunset Plans</h1>
<% @bookings.each do |booking| %>
  <%= image_tag(booking.place.image, width: "10%") %>
  <p><%= booking.date %></p>
  <p><%= booking.name %></p>
  <p><%= booking.description %></p>

  <%= link_to new_booking_review_path(booking.id) do %>
  <div class="btn btn-primary">Review</div>
  <% end %>
  <br>
  <br>
<% end %>
