<div class="bookings-bg">
  <div class="bookings-show-container">
    <div class="bookings-show-card">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Your Sunset Plan:</h1>
          </div>
        </div>
        <div class="row">
          <div class="bookings-show-subhead">
            <h3><%= ApplicationHelper.convert_day(@booking.date) %> at <%= @booking.place.name %></h3>
            <% if @booking.guests %>
              <ul id="guest-image-ul">
              <% @booking.guests.each do |guest| %>
                <li id="guest-image-list"><%= image_tag(guest.image, class: 'guest-image') %></li>
              <% end %>
              </ul>
            <% end %>
           <!--  <%= image_tag(@booking.user.image) %> -->
          </div>
        </div>
        <div class="row">
          <div class="bookings-show-detail col-6">
            <%= image_tag(@booking.place.image) %>
          </div>
          <div class="bookings-new-sun col-6">
            <h5>Weather & Timing</h5>
            <p>Golden Hour: <%= ApplicationHelper.converted_time(@sunset.gold_start) %></p>
            <p>Sunset Begin: <%= ApplicationHelper.converted_time(@sunset.start) %></p>
            <p>Sunset Actual: <%= ApplicationHelper.converted_time(@sunset.end) %></p>
            <p>Weather: <%= @sunset.description.capitalize %></p>
            <p>Temp Range: <%= @sunset.tempmin %>-<%= @sunset.tempmax %>F</p>
          </div>
        </div>
        <div class="row bookings-show-subhead" style="margin-bottom: 30px">
          <p><%= @booking.name %> - <%= @booking.description %></p>
        </div>
        <div class="row" style="justify-content: center">
          <div class="bookings-show-actions">
            <% if current_user == @booking.user%>
              <%= render 'modal' %>
            <% else %>
              <%= render 'accept_invitation' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
