<h1>Choose The Best Day to Enjoy a <%= @city.name %> Sunset</h1>
<% @sunsets.each do |sunset|  %>
<%= link_to city_places_path(sunset.city, :date_session => sunset.date) do %>
<h3><%= sunset.date %></h3>
<% end %>
<p>Sunset Timing: <%= sunset.start %> - <%= sunset.end %></p>
<p>Golden Hour: <%= sunset.gold_start %> - <%= sunset.gold_end %></p>
<br>
<% end %>
