<h1>Choose The Best Day to Enjoy a <%= @sunset.city.first.name %> Sunset</h1>
<% @sunsets.each do |sunset| %>
<h3><%= sunset.date %></h3>
<p>Sunset Timing: <%= sunset.start %> - <%= sunset.end %></p>
<p>Golden Hour: <%= sunset.gold_start %> - <%= sunset.gold_end %></p>
<br>
<% end %>
