<div class="places-show-bg">
  <% if @place.reviews.present? %>
    <%= render 'carousel' %>
  <% end %>
  <div class="places-show-container">
    <div class="places-show-staticimg">
  <% if @place.reviews.empty? %>
    <%= image_tag(@place.image, style: 'box-shadow: 1px 1px 5px black') %>
  <% end %>
    </div>

    <div class="places-detail-card">

      <div class="container">

        <div class="row">
          <div class="place-title col-12">
            <h1 style="font-size: 20px">Enjoy Sunset <%= ApplicationHelper.parse_day(@date) %> at:</h1>
            <h1><%= @place.name %></h1>
          </div>
        </div>

        <div class="row" style="flex-wrap: unset">
          <div class="place-show-label">
            <div class="place-label-column">
              <h5>Learn More:</h5>
            </div>
          </div>
          <div class="place-show-description">
            <p><%= @place.description %></p>
          </div>
        </div>

        <div class="row" style="margin-top: 15px">
          <div class="place-show-label">
            <div class="place-label-column">
            <h5>Location:</h5>
          </div>
          </div>
          <div class="place-show-description">
            <p><%= @place.address %></p>
          </div>
        </div>

        <div class="row">
          <div class="place-show-actions">
            <%= link_to '< Return to All Places', city_places_path(@place.city, :date_session => @date), class: 'btn btn-secondary' %>
            <%= link_to 'Choose This Place >', new_booking_path, class: 'btn btn-success' %>
          </div>
        </div>


        <div class="row">
          <div class="place-review col-12">
            <% @place.reviews.each do |review| %>
        <div class="review-card">
          <%= image_tag(review.image) %>
          <div class="container">
            <div class="row">
              <div class="review-card-title col-12">
                <h2><%= review.user.first_name %>:</h2>
                <div class="star-rating">
                <% review.rating.times do%>
                  <i class="fas fa-star"></i>
                <% end %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="review-card-info col-12">
              <p>"<%= review.content %>"</p>
            </div>
            </div>
          </div>
        </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
